Package: com.ejdev.QueueyListener
Name: QueueyListener
Version: 1.0-1
Description: This should be included in Queuey
Section: System
Depends: firmware (>= 5.0), mobilesubstrate, libactivator
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Ethan Gill
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

